<html>
    <head>
        <title>Login</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/logStyle.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'/>
    </head>
    <body>
        <div class = welcome>
        <h1>Welcome</h1>
        <label>Username: </label>
        <input id = round type="text" placeholder="Enter Username" name="username" required></br> </br>
        <label>Password: </label>
        <input id = round type="text" placeholder="Enter Password" name="password" required>
    </div>

        <button>Login</button>
    </body>
    </html>